body{
    color:Black;
    font-weight: 300;
    background-image: url(https://cdn.wallpapersafari.com/93/9/GprDRh.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left: 50px;
}

body ul{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body ol{
    font-size: 25px;
    font-family: serif;
}