*{
    margin: 0px;
    padding: 0px;
}


body{
    background-image:url(https://e0.pxfuel.com/wallpapers/565/221/desktop-wallpaper-green-blue-gradient-android.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header h1{
    text-align: center;
    color: white;
    padding: 10px;
    margin-bottom: 50px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(255, 0, 208);
}


section{
    margin-top: 180px;
    margin-left: 640px;
    color:red;
}

a{
    text-decoration-line: none;
    padding: 10px;
    position: relative;
    margin-left: 60px;
}

.re1{
    boder-style: solid;
    border-width: 2px;
    border-radius:20px;
    background:yellow;
    transition: background-color linear;
}

.re2{
    boder-style: solid;
    border-width: 2px;
    border-radius: 20px;
    background: yellow;
    transition: background-color linear;
}

.re1:hover{
    background-color: rgba(0, 255, 255, 01);
}
.re2:hover{
    background-color: rgba(0, 255, 255, 01);
}